@import url(fonts.css);
@import url(normalize.css);
html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "red_hat_displayregular";
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #87CEFA;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
}

button:hover, button:focus {
  background-color: #1D4B9E;
}

button:active {
  border: 2px inset;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

p {
  margin: 5px;
}

header {
  background: linear-gradient(to right, red, orange 20%, yellow 40%, green 60%, blue 80%, indigo);
  box-shadow: 3px 5px 3px rgba(72, 72, 72, 0.5);
  z-index: 1;
}

main {
  flex: 1;
}

h1 {
  padding: 20px;
  font-size: 1.75em;
}

h1, h2 {
  margin: 0;
  font-family: "rammetto_oneregular";
  text-shadow: 3px 3px 5px lightgray;
  text-align: center;
  letter-spacing: 0.6px;
  background-color: rgba(255, 255, 255, 0.499);
  z-index: 2;
}

h2 {
  padding-bottom: 15px;
}

#wrapper {
  margin: 0 auto;
  padding: 0 0 20px;
  max-width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#gameWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#gameWindow div {
  display: flex;
  justify-content: center;
}
#gameWindow #hint {
  flex-direction: column;
}
#gameWindow button {
  width: 100px;
  height: 35px;
  margin: 10px 5px;
}
#gameWindow #gameWord {
  justify-content: center;
  padding: 0 15px;
}
#gameWindow #gameWord div {
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 24px;
  font-family: "martian_monoSexpandedRg";
  width: 4%;
  margin: 0 3px;
}
#gameWindow #hint, #gameWindow #gameWord {
  margin: 10px 0;
}
#gameWindow #hintBox {
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}
#gameWindow #sticky {
  margin: 15px;
}

#keyboard button {
  width: 8%;
  height: 40px;
  margin: 2px;
}

.headShrink {
  font-size: 1rem;
}

.keyrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hiddenLetterBox {
  border-bottom: 2px solid black;
}

.hiddenLetter {
  visibility: hidden;
}

.spacebox {
  margin: 0 5px;
}

.hintBox {
  border: 2px solid #8b0000;
  background-color: #ff968a;
}

.hide {
  display: none;
}

.bad {
  background-color: #ff968a;
  color: #8b0000;
}

.good {
  background-color: #90ee90;
  color: #008000;
}

.bad, .good {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  padding: 10px;
  margin: 0;
}