@charset "utf-8";

@import url(fonts.css);

@import url(normalize.css);

// variables

    $main-text-font: 'red_hat_displayregular';
    $heading-font: 'rammetto_oneregular';
    $letterbox-font: 'martian_monoSexpandedRg';

    $dark-blue: #1D4B9E;
    $blue: #386dd1;
    $light-blue: #87CEFA;
    $dark-pink: #b5454e;
    $peach: #ff968a;
    $green: #008000;
    $lightgreen: #90ee90;
    $darkred: #8b0000;
    $lightred: #ff968a;

    $shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);

    @mixin button-style($offright, $offbottom, $rounded-corners, $border-thickness){
        box-shadow: $offright $offbottom 3px rgba(0, 0, 0, 0.3);
        border: $border-thickness solid black;
        border-radius: $rounded-corners;
    }

html {
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: .5px;
    font-family: $main-text-font;
}

*, *:before, *:after 
    {box-sizing: inherit;}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: $light-blue;
    font-weight: bold;
    @include button-style(0, 0, 5px, 1px);
}
button:hover, button:focus 
    {background-color: $blue;}
button:active {
    transform: scale(0.95);
    background-color: $dark-blue;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

p 
    {margin: 5px;}

header {
    background: linear-gradient(to right,
        $dark-pink, 
        $peach 35%,
        $peach 65%,
        $dark-pink);
    box-shadow: $shadow;
}

main    
    {flex: 1;}

h1 {
    padding: 20px;
    font-size: 1.75em;
}
h1, h2 {
    margin: 0;
    font-family: $heading-font;
    text-shadow: $shadow;
    text-align: center;
    letter-spacing: .6px;
}
h2  {padding-bottom: 15px;}

#wrapper {
    margin: 0 auto;
    padding: 0 0 20px;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#gameWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        display: flex;
        justify-content: center;
    }

    #hint 
    {flex-direction: column;}

    button {
        width: 100px;
        height: 35px;
        margin: 15px 5px;
        @include button-style(3px, 5px, 8px, 2px);
    }

    #gameWord {
        justify-content: center;
        padding: 0 15px;

        div {
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            font-size: 24px;
            font-family: $letterbox-font;
            width: 4%;
            max-width: 20px;
            margin: 0 3px;
        }
    }

    #hint, #gameWord 
        {margin: 15px 0;}
    #hint p 
        {text-align: center;}
    #hintBox {
        flex-direction: column;
        justify-content: center;
        margin: 0 15px;
    }

    #stickyFrame {
        max-width: 370px;
        margin: 15px auto;
    }
}

#keyboard {
    margin-bottom: 40px;

    button {
        width: 8%;
        max-width: 50px;
        height: 45px;
        margin: .6%;
        @include button-style(0, 0, 5px, 1px);
    }

    .keyrow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.headShrink {
    font-size: 1rem;
}

.hiddenLetterBox 
    {border-bottom: 2px solid black;}
.hiddenLetter 
    {visibility: hidden;}
.spacebox {
    margin: 0 5px;
}

.hintBox {
    border: 2px solid $darkred;
    background-color: $lightred;
}

.hide {
    display: none;
}

.lose {
    background-color: $lightred;
    color: $darkred;
}
.win {
    background-color: $lightgreen;
    color: $green;
}
.lose, .win {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 100%;
}


@media (min-width:450px){
    #gameWindow {
        button {
            width: 125px;
            height: 40px;
            margin: 20px 10px;
            font-size: 20px;
        }
    }

    #keyboard {
        button {
            font-size: 20px;
        }
    }
}

@media (min-width:800px){
    header 
    {margin-bottom: 30px;}
    h1
    {font-size: 2em;}
    h2
    {font-size: 1.75em;}

    #gameWindow {
        button {
            width: 150px;
            height: 50px;
            margin: 25px 10px;
            font-size: 24px;
        }
    }

    #keyboard {
        button {
            max-width: none;
            width: 55px;
            height: 50px;
            margin: 5px;
            @include button-style(0, 0, 8px, 1px);
            font-size: 22px;
        }
    }
}