@import url(fonts.css);
@import url(normalize.css);
html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "red_hat_displayregular";
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #87CEFA;
  font-weight: bold;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 5px;
}

button:hover, button:focus {
  background-color: #386dd1;
}

button:active {
  transform: scale(0.95);
  background-color: #1D4B9E;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

p {
  margin: 5px;
}

header {
  background: linear-gradient(to right, #b5454e, #ff968a 35%, #ff968a 65%, #b5454e);
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
}

main {
  flex: 1;
}

h1 {
  padding: 20px;
  font-size: 1.75em;
}

h1, h2 {
  margin: 0;
  font-family: "rammetto_oneregular";
  text-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 0.6px;
}

h2 {
  padding-bottom: 15px;
}

#wrapper {
  margin: 0 auto;
  padding: 0 0 20px;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#gameWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#gameWindow div {
  display: flex;
  justify-content: center;
}
#gameWindow #hint {
  flex-direction: column;
}
#gameWindow button {
  width: 100px;
  height: 35px;
  margin: 15px 5px;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  border-radius: 8px;
}
#gameWindow #gameWord {
  justify-content: center;
  padding: 0 15px;
}
#gameWindow #gameWord div {
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 24px;
  font-family: "martian_monoSexpandedRg";
  width: 4%;
  max-width: 20px;
  margin: 0 3px;
}
#gameWindow #hint, #gameWindow #gameWord {
  margin: 15px 0;
}
#gameWindow #hint p {
  text-align: center;
}
#gameWindow #hintBox {
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}
#gameWindow #stickyFrame {
  max-width: 370px;
  margin: 15px auto;
}

#keyboard {
  margin-bottom: 40px;
}
#keyboard button {
  width: 8%;
  max-width: 50px;
  height: 45px;
  margin: 0.6%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 5px;
}
#keyboard .keyrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headShrink {
  font-size: 1rem;
}

.hiddenLetterBox {
  border-bottom: 2px solid black;
}

.hiddenLetter {
  visibility: hidden;
}

.spacebox {
  margin: 0 5px;
}

.hintBox {
  border: 2px solid #8b0000;
  background-color: #ff968a;
}

.hide {
  display: none;
}

.lose {
  background-color: #ff968a;
  color: #8b0000;
}

.win {
  background-color: #90ee90;
  color: #008000;
}

.lose, .win {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 100%;
}

@media (min-width: 450px) {
  #gameWindow button {
    width: 125px;
    height: 40px;
    margin: 20px 10px;
    font-size: 20px;
  }
  #keyboard button {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  header {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  #gameWindow button {
    width: 150px;
    height: 50px;
    margin: 25px 10px;
    font-size: 24px;
  }
  #keyboard button {
    max-width: none;
    width: 55px;
    height: 50px;
    margin: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 8px;
    font-size: 22px;
  }
}